<?xml version="1.0" encoding= "UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   xmlns:aop="http://www.springframework.org/schema/aop"
   xmlns:context="http://www.springframework.org/schema/context"
   xsi:schemaLocation= "http://www.springframework.org/schema/beans
      http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
      http://www.springframework.org/schema/context
      http://www.springframework.org/schema/context/spring-context-4.2.xsd
      http://www.springframework.org/schema/aop
      http://www.springframework.org/schema/aop/spring-aop-4.2.xsd">

 	
<context:component-scan base-package="com.spring.biz" />

	<aop:aspectj-autoproxy />

<!--
	<bean class="com.spring.biz.common.LogAdvice" id="logAdvice" />
	<bean class="com.spring.biz.common.AfterReturningAdvice" id="ara" />
	<bean class="com.spring.biz.common.AfterThrowingAdvice" id="ata" />
	<bean class="com.spring.biz.common.AroundAdvice" id="aa" />
	<aop:config>
		<aop:pointcut id="aPointcut" expression="execution(* com.spring.biz..*Impl.*(..))" />
		<aop:pointcut id="bPointcut" expression="execution(* com.spring.biz..*Impl.select*(..))" />
		
		<aop:aspect ref="aa">
			<aop:around pointcut-ref="aPointcut" method="aroundPrintLog" />
		</aop:aspect>
		<aop:aspect ref="ara">
			<aop:after-returning pointcut-ref="bPointcut" method="afterReturningPrintLog" />
		</aop:aspect>
		<aop:aspect ref="ata">
			<aop:after-throwing pointcut-ref="aPointcut" method="printException" />
		</aop:aspect>
	</aop:config>
   -->
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   

</beans> 